{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block body %}
    <h1>Homepage</h1>
    {% if app.user %}
    <p>Welcome, {{ app.user.username }}!</p>
    {% endif %}
    <p>This is the homepage of the application.</p>
{% endblock %}